body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #566b78;
  background: white;
  margin: 0 auto;
}

main {
    line-height: 1.5;
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 50em;
}

header {
background-color: #263d36;
background-image: url("header.jpg");
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
max-width: none;
line-height: 1.2;
padding: 10vw 3em;
text-align: center;
color: white;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

nav{
  position: fixed;
}

header a, nav a {
  border: 1px solid #e81c4f;
  border-radius: 200px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover, nav a:hover {
  background:  #e81c4f;
  color: white;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: #333;
}

code, pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8bee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}
