body {
  background: #fe8c00;
  background: -webkit-linear-gradient(to left, #fe8c00 , #f83600);
  background: linear-gradient(to left, #fe8c00 , #f83600);
   }

p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-shadow: 1px 1px 10px  #aaa;
  font-size: 24px;
  padding-left: 10px;
}

p.learntop {
position: relative;
top: -75px;
}

p.learntop2 {
position: relative;
top: -28px;
}

p.goaltop {
  position: relative;
  top: -22px;
}


a {
  text-decoration: none;
}

h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 48px;
}


h3.leftpad {
padding-left: 100px;
}

h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 32px;
}

div.slide-right {
  overflow:hidden;
}

div.slide-right h1 {
  animation: 2s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
